html {
  body {
    &.el-popup-parent--hidden {
      width: 100% !important;
    }
  }

  .el-button {
    font-family: inherit;
  }
  .el-dialog {
    width: 400px;
    .el-dialog__header {
      margin-right: 0;
      border-bottom: 1px solid $border-color;
      .el-dialog__title {
        font-size: 15px;
        position: relative;
        font-weight: 700;
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 4px;
          background-color: $color-primary;
          position: absolute;
          left: 0;
          bottom: -3px;
        }
      }
    }
    .el-dialog__footer {
      display: flex;
      justify-content: center;
      .el-button {
        width: 100px;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .el-dialog {
      width: 90%;
    }
  }
}
