@use "@/assets/style/scss/_variables" as *;
@use "@/assets/style/scss/reset" as *;
@use "@/assets/style/fonts/index.scss" as *;
@use "@/assets/style/scss/nprogress" as *;
@use "@/assets/style/scss/elementPlus.scss" as *;
@use "element-plus/theme-chalk/index.css" as *;
@use "element-plus/theme-chalk/dark/css-vars.css" as *;
@use "plyr/dist/plyr.css" as *;

html {
  width: 100vw;

  body {
    color: $font-color;
    font-size: $font-size;
    font-family: $font-family;
    overflow-x: hidden;
    // 取消移动端点击高亮
    -webkit-tap-highlight-color: transparent;

    a {
      &:active {
        color: $font-color;
      }
    }
  }

  @include scrollbar;
}

/*文档中被用户高亮的部分*/
::selection {
  background-color: $color-primary;
  color: #fff;
}
