@import "@/assets/style/scss/reset";
@import "@/assets/style/fonts/index.scss";
@import "@/assets/style/scss/nprogress";
@import "@/assets/style/scss/elementPlus.scss";
@import "element-plus/theme-chalk/index.css";
@import "element-plus/theme-chalk/dark/css-vars.css";
@import "plyr/dist/plyr.css";

html {
  width: 100vw;

  body {
    color: $font-color;
    font-size: $font-size;
    font-family: $font-family;
    overflow-x: hidden;
    // 取消移动端点击高亮
    -webkit-tap-highlight-color: transparent;

    a {
      &:active {
        color: $font-color;
      }
    }
  }

  @include scrollbar;
}

/*文档中被用户高亮的部分*/
::selection {
  background-color: $color-primary;
  color: #fff;
}
